@charset "UTF-8";

/*PALETA DE CORES:

Verde: #49a09d
Lilás: #5f2c82

*/

:root {
    --verde: #49a09d;
    --lilas: #5f2c82;
}


* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--lilas);
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    padding: 10px;
    width: 100vw;
    height: 100vh;

}

section {
    background-color: white;
    width: 250px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.548);
}

section>#img{
    display: block;
    background:#5f2c82 url(../imagens/imagem-fundo.jpg) no-repeat;
    background-size: cover;
    background-position:left center;
    height: 170px;
}
section>#form{
    display: block;
    padding: 10px ;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#texto {
    padding: 10px 0;
}

.input-digitar {
    background-color: var(--lilas);
    border-radius: 10px;
    margin-bottom: 5px;
}

.input-digitar-caixas {
    margin: 2px;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

.input-button {
    border: 2px solid #49a09d5f;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 5px;
    border-radius: 10px;
}

#button-enviar {
    background-color: var(--verde);
    color: white;
}

#button-esqueci {
    color: #244f4d;
}